
    body {
      background: #f9f9f9;
      color: #333;
    }
    .navbar-nav .nav-link {
      font-weight: 600;
    }
    .social-icons a {
      color: #333;
      font-size: 1.25rem;
      margin-left: 1rem;
      transition: color 0.3s ease;
    }
    .social-icons a:hover {
      color: #0d6efd;
    }
    
    #hero {
      /* background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%); */
      border-radius: 1rem;
      padding: 2rem 2rem;
      text-align: center;
      margin-bottom: 3rem;
      box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    }
    #hero img {
      /* max-width: 500px; */
      /* border-radius: 1rem; */
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
      margin-bottom: 1.5rem;
      display: block;
      margin: auto;
      margin-right: auto;
     
    }
    .carousel-item img {
      height: 90vh ;     /* half screen height */
      object-fit: cover;   /* crop to fill space without distortion */
    }

    #gallery .card {
      border: none;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      transition: transform 0.3s ease;
      cursor: pointer;
    }
    #gallery .card:hover {
      transform: scale(1.05);
    }
    #gallery .card img {
      border-radius: 1rem 1rem 0 0;
      object-fit: cover;
      height: 200px;
      width: 100%;
    }
    .card-hover-text {
    display: none;
    font-size: 14px;
    color: #555;
    margin-top: 8px;
    transition: all 0.3s ease;
  }
  .card:hover .card-hover-text {
    display: block;
  }

    /* footer {
      padding: 1.5rem 0;
      text-align: center;
      color: #777;
      margin-top: 3rem;
    } */
     .footer{
      background-color:#282626;
      padding: 20px 20px;
      font-family:Arial,sans-serif;
    
      color: #fff;
    }
    .footer-container{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: auto;
    }
    .footer-section{
      flex: 1 1 200px;
      margin: 20px;

    }
    .footer-section h2,.footer-section h4{
      margin-bottom: 15px;
      color: #fff;
      border-bottom: 2px solid #00bfff;
      display: inline-block;
      padding-bottom: 5px;
    }
    .footer-section ul{
      list-style: none;
      padding: 0;
    }

    .footer-section ul li a{
      color: #ccc;
      text-decoration: none;
      line-height: 1.8;

    }
    .footer-section ul li a:hover{
      color: #fff;

    }
    .social-icons a{
      color: #ccc;
      margin-right: 10px ;
      font-size: 18px;
      text-decoration: none;

    }
    .footer-bottom{
      text-align: center;
      margin-top: 40px;
      font-size: 14px;
      color: #aaa;
    }
 